<header class="app-header">
  <dx-toolbar class="header-toolbar">
    <!-- Left: title -->
    <dxi-item
      location="before"
      cssClass="header-title px-3"
      *ngIf="title"
      [text]="title"
    >
    </dxi-item>

    <!-- Center spacer -->
    <dxi-item location="center">
      <div class="toolbar-spacer"></div>
    </dxi-item>

    <!-- Search -->
    <!-- <dxi-item
      location="after"
      widget="dxTextBox"
      cssClass="global-search-box"
      [options]="{
        stylingMode: 'filled',
        mode: 'search',
        placeholder: ('COMMON.SEARCH' | translate),
        width: 220
      }"
    ></dxi-item> -->

    <!-- Language switcher -->
    <dxi-item location="after" locateInMenu="auto">
      <div *dxTemplate>
        <dx-drop-down-button
          [text]="`${selectedLanguage?.text}`"
          icon="globe"
          [items]="languageOptions"
          keyExpr="id"
          displayExpr="text"
          [useSelectMode]="true"
          [selectedItemKey]="currentLang"
          (onSelectionChanged)="onLanguageChange($event)"
          stylingMode="text"
        >
        </dx-drop-down-button>
      </div>
    </dxi-item>

    <!-- Theme -->
    <dxi-item location="after" locateInMenu="never">
      <div *dxTemplate>
        <theme-switcher></theme-switcher>
      </div>
    </dxi-item>

    <!-- Notifications -->
    <!-- <dxi-item location="after" locateInMenu="never">
      
    </dxi-item> -->
  </dx-toolbar>
</header>
